.header {
  background: #fff;
  padding: 15;
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
}
.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
